body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

.loginPage {
  background-color: #B0D8E7;
  height: 100vh;
}

.loginForm {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -160px;
}

.loginButton {
  background-color: #FA8176;
  color: white;
  padding: 8px 36px;
  border-radius: 30px;
  border: 0;
  box-shadow: 3px 5px 5px grey;
  margin-top: 30px;
  position: absolute;
  left: 100px;
}

.loginName {
margin-left: 27px;
}

.loginPassword {
margin-top: 30px;
}

edit {
  background-color: #34D186;
  margin-right: 10px;
}

.delete {
  background-color: #EB4755;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;;
  background-color: 'rgba (0, 0, 0, 0.7)';
  z-index: 1000;
}

.modal-dialog {
  position: relative;
  height: 520px;
  width: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px 35px;
  z-index: 1000;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.modal-title {
  font-size: 20px;
}